body {
    font-family: 'Merriweather', serif;
}

header .header-title {
    text-align: center;
    color: white;

}

header h5 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}

header h3 {
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}

header .banner{
    padding: 233px 344px 177px 344px;
}

header {
    border-radius: 16px;
    
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: auto;

}